* {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    background-color: darkslategrey;

}

.funcao {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
#saida {
    margin-top: 10px;
}

#button {
    font-size: large;
    cursor:pointer;
    border-radius: 15px;
    font-weight: 1000px;
    appearance: none;
    border: 0;
    background-color: rgb(153, 0, 255);
    padding: 50px 70px;
    transition: all 0.4 ease-in-out;
}

#button::before {
    transition: all 0.4 ease-in-out;
    background-color: rgb(92, 6, 149);
}